.venepetth {
  font-size: 80pt;
}

.card-header {
  background-color: #11600C; 
  
}

.card-header span{
  color: white;
  font-weight: bold;
  
}



.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #B0FDAB; 
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 0px 0px;
  background:#56CF3D;
  color: white; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar {
  background-color: #B0FDAB; 
  color: black;
}

.nav-link {
  color: black;
}

a:hover {
  color: black;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background-color: #11600C; 
 }
  .carousel .carousel-item {
    height: 300px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px; }

#carousel-button {
  right: 0px;
  position: absolute;
  bottom: 0px; }

.carousel-caption {
  text-align: right;
}
  

.modal-header {
  background-color: #11600C; 
  color: floralwhite; }
  .modal-header button {
    color: floralwhite; }

.modal-body {
  background-color: floralwhite; }

.modal-footer {
  background-color: #B0FDAB; 
